[access]
	inheritFrom = All-Projects
[access "refs/for/refs/heads/*"]
	pushMerge = group Berkeley maintainers
[access "refs/heads/*"]
	create = group Berkeley maintainers
	push = +force group Berkeley maintainers
	pushMerge = group Berkeley maintainers
	label-Code-Review = -2..+2 group Berkeley maintainers
	label-Verified = -1..+1 group Berkeley maintainers
	submit = group Berkeley maintainers
