import /vendor/etc/init/${ro.bootmode}/init.${ro.bootmode}.rc

on init
    symlink /dev/block/platform/${ro.boot.boot_devices} /dev/block/bootdevice

on fs
    mount ext4 /dev/block/by-name/cust /cust wait ro
    mount ext4 /dev/block/by-name/cust${ro.boot.slot_suffix} /cust wait ro
    mount ext4 /dev/block/by-name/preload /preload wait ro
    mount ext4 /dev/block/by-name/preload${ro.boot.slot_suffix} /preload wait ro
    mount ext4 /dev/block/by-name/product /product wait ro
    mount ext4 /dev/block/by-name/product${ro.boot.slot_suffix} /product wait ro
    mount ext4 /dev/block/by-name/version /version wait ro
    mount ext4 /dev/block/by-name/version${ro.boot.slot_suffix} /version wait ro
    mount none /odm/hw_odm/${ro.boot.product.hardware.sku} /hw_odm bind
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio_policy_configuration.xml bind
    mount none /dev/null /vendor/etc/init/android.hardware.health@2.0-service.rc bind

on post-fs-data
    start teecd

on property:sys.user.0.ce_available=true
    mkdir /data/sec_storage_data 0700 system system
    mkdir /data/sec_storage_data_users 0700 system system

on property:sys.boot_completed=1
    write /sys/class/hw_power/charger/direct_charger/iin_thermal 4500
    write /sys/class/hw_power/charger/charge_data/iin_thermal 2000

on property:sys.fpnav.enabled=0
    write /sys/devices/platform/fingerprint/nav 0
    stop fps_hal_ext
    start fps_hal_ext

on property:sys.fpnav.enabled=1
    write /sys/devices/platform/fingerprint/nav 1
    stop fps_hal_ext
    start fps_hal_ext

# adb over network
on property:service.adb.tcp.port=5555
    stop adbd
    start adbd

on property:service.adb.tcp.port=-1
    stop adbd
    start adbd

service bfm-ctl /system/bin/bfm-ctl
    class main
    user system
    group system
    oneshot

service charger /sbin/chargeonlymode -p
    class charger
    user root
    group root system
    critical
    seclabel u:r:charger:s0